.wrapper {
  width: 100%;
  height: 800px;
  position: relative;
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;
  border-radius: 0px;
}

tr:nth-child(even){background-color: #f2f2f2;}

.left {
  float: left;
}

.box {
  border: 1px solid #000;
  width: 100%;
}

.container {
  overflow-y: scroll;
  height: 800px;
  width: 100%;
  border-top: 41px solid transparent;
  border-bottom: 41px solid transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td + td {
  border-left: 1px solid #fff;
}

td, th {
  border-bottom: 1px solid #fff;
  background: #fff;
  padding: 10px;
}

thead tr th{
height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  white-space: nowrap;
}

thead tr th div{
  position: absolute;
  color: #000;
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

thead tr th div {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}



thead tr th div {
  top: 0;
}

thead tr th:first-child div {
  border-left: none;
}

