{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h3 style="margin-bottom:15px">Sortable View of Projects</h3>
<br></br>
{% if level > 0 %}
        <div class="btn-group" role="group" style="margin-bottom:15px">
        <a href="/project" type="button" class = "btn btn-lg btn-secondary btn-info">
        New Project
        </a>
        </div>
{% endif %}
<br>
<br>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">

<div class="content">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="grid" style="font-size: 150%" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
    <th><div class="c1">Project</div></th>
    <th><div class="c1">Description</div></th>
    <th><div class="c1">Division</div></th>
 </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for p in all_projects %}
        {% set project=p[0] %}
            <tr>
                {% if project.name is not none %}
                        <td>
                        <a href="/projectinfo/{{project.id}}">
                                {{project.name}}
                        </a>
                        </td>
                {% else %}
                        <td></td>
                {% endif %}

                   <td>
                {% if project.description is not none %}
                 {{project.description}}
                {% endif %}</td>
                <td>
                {% if p[1].name is not none %}
                {{p[1].name}}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

</table>

</div>
{% endblock %}


{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
