{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h3 style="margin-bottom:15px">Sortable View of Tasks</h3>
<br></br>
{% if level > 0 %}
        <div class="btn-group" role="group" style="margin-bottom:15px">
        <a href="/task" type="button" class = "btn btn-lg btn-secondary btn-info">
        New Task
        </a>
        </div>
{% endif %}
<br>
<br>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">

<div class="content">
  <div class="left">

    <div class="wrapper">
  <div class="container">
<table id="grid" style="font-size: 125%;" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
    {% for head in headers %}
    <th>{{head}}<div class="c1">{{head}}</div></th>
     {% endfor %}
  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}
        {% for u in all_tasks %}
            {% set task=u[0] %}

            <tr>
                {% if task.name is not none %}<td><a href="/taskinfo/{{task.id}}">
                        {{task.name}}</a></td>{% else %}<td></td>{% endif %}

                {% if task.description is not none %}<td>{{task.description}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.user_id is not none%}<td> {{u[1].short_name()}}</td>
                {% else %} <td></td> {% endif %}

                {% if task.comment is not none %}<td> {{task.comment}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.priority is not none %}<td> {{task.priority}}</td>
                {% else %} <td></td>{% endif %}

                {% if task.status is not none %}<td> {{task.status}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.started_at is not none %}<td> {{task.started_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.ended_at is not none%}<td> {{task.ended_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.pcode_id is not none %}<a href="/projectcodes/{{task.pcode_id}}">
                <td>{{task.pcode_id}}</td></a>
                {% else %}<td></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}


{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
