{% extends "bootstrap/base.html" %}

{% block title %}DSCB Common{% endblock %}

{% block navbar %}

<!-- change navbar style for each project
http://v4-alpha.getbootstrap.com/components/navbar/#color-schemes
-->

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
tablesorter not working, sadly
<script src="{{url_for('static', filename='jquery.tablesorter.js')}}"></script-->

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip({
    trigger: "hover"
})
})
</script>

<script src="{{url_for('static', filename='sorttable.js')}}"></script>
<head>
<title>DSCB Common</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mystyle.css')}}"/>
</head>




<body>
<style>
  div {
    padding-left: 0%;
    padding-right: 0%;
  }
</style>
<div style="padding-left: 2%; padding-right: 2%">


 <!-- Static navbar -->
      <nav class="navbar navbar-default" style="font-size: 125%">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DSCB Common</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/users/all">Users</a></li>
	      <li><a href="/projectcodes/all">Project Codes</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert {{message[0]}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
</body>
