<!-- this page shows all the projects for a certain division. 
has link to go back to all projects
has button to add a new project
the table shows project names and description
each project name has a link to the projectinfo page for that project
-->
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h2><b>{{division.name}}</b> Division</h2>
    <h3><b><a href="/divisioninfo/all">All Divisions</b></h3>
</div>

<div class="btn-toolbar" role="toolbar" style="padding:0%;">
<span class="btn-group btn-block btn-lg" role="group" style="margin-bottom:20px">
{% if level > 0 %}

<span class="btn-group" role="group">
<a href="/project?default_division={{division.id}}" type="button" class = "btn btn-lg btn-secondary btn-info">
Add Project
</a>
<a href="/division/edit/{{division.id}}?next=%2Fdivisioninfo%2F{{division.id}}" type="button" class="btn btn-lg btn-secondary btn-info">
Edit</a>
</span>
{% endif %}
	 <span class="btn-group" role="group" style="padding-left:45px">


	 <button onclick="toggletables(1)" style="width: 170px" id="toggleprojectbutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Projects</font>
        </button>


        <button onclick="toggletables(0)" style="width: 170px" id="toggletaskbutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Tasks</font>
        </button>
	
	<button onclick="toggletables(2)" style="width: 170px" id="toggleupdatebutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Updates</font>
        </button>

        </span>

</span>
</div>

<span class="container" align="center">
<embed type="image/svg+xml" src={{bar_graph|safe}} style="max-width:500px;"/>

<embed type="image/svg+xml" src={{pie_graph|safe}} style="max-width:500px;"/>
</span>


<div class="content" id="updatetable">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="updatetable2" style="font-size: 150%" class="table table-bordered table-hover table-sm sortable">
<thead>
<tr>
{% for uheader in update_headers %}
<th>{{uheader}}<div class="c1">{{uheader}}</div></th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for update in all_updates %}
 <tr>
                {% if update.update_text is not none %}
                        <td>
                                <a href="/update/edit/{{update.id}}?next=%2Ftaskinfo%2F{{update.task_id}}">
                                {{update.update_text}}</a>
                        </td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if update.comment is not none %}
                        <td> {{update.comment}}</td>
                {% else %}
                        <td></td>
                {% endif %}

                {% if update.progress is not none %}
                        <td> {{update.progress}}</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if update.entered_at is not none %}
                        <td> {{update.entered_at}}</td>
                {% else %}
                        <td></td>
                {% endif %}
            </tr>
        {% endfor %}
</tbody>
</table></div></div></div></div>

<div class="content" id="tasktable">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="tasktable2" style="font-size: 150%" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
     {% for thead in task_headers %}
     <th>{{thead}}<div class="c1">{{thead}}</div></th>
     {% endfor %}

  </tr>

</thead>

<tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for task in all_tasks %}
            <tr>
                {% if task.name is not none %}<td><a href="/taskinfo/{{task.id}}">
                        {{task.name}}</a></td>{% else %}<td></td>{% endif %}

                {% if task.description is not none %}<td>{{task.description}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.comment is not none %}<td> {{task.comment}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.priority is not none %}<td> {{task.priority}}</td>
                {% else %} <td></td>{% endif %}

                {% if task.status is not none %}<td> {{task.status}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.started_at is not none %}<td> {{task.started_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.ended_at is not none%}<td> {{task.ended_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.pcode_id is not none %}<a href="/projectcodes/{{task.pcode_id}}">
                <td>{{task.pcode_id}}</td></a>
                {% else %}<td></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
</table>
</div></div></div></div>

<table id="projecttable" style="font-size: 150%" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
 </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for project in all_projects %}

            <tr>
                {% if project.name is not none %}
                        <td>
			<a href="/projectinfo/{{project.id}}">
				{{project.name}}
			</a>
			</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if project.description is not none %}
                        <td> {{project.description}}</td>
		{% else %}
                        <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>

</table>
</div>





{% endblock %}

{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function toggletables(index){
        var tasktable=document.getElementById("tasktable");
	var projecttable=document.getElementById("projecttable");
	var updatetable=document.getElementById("updatetable");
        var tables=[tasktable,projecttable,updatetable];
        for(i=0;i<tables.length;i++){
		tables[i].style.display='none';
	}
        tables[index].style.display = 'table';
}


window.onload=toggletables(1);
</script>
{% endblock %}

