{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h3 style="margin-bottom:15px">Sortable View of Updates</h3>
<br></br>
<style>
tr:nth-child(even){background-color: #f2f2f2;}
</style>
{% if meeting_mode == false %}
{% if level > 0 %}

	<span class="btn-group" role="group" style="margin-bottom:15px">
        <a href="/update" type="button" class = "btn btn-lg btn-secondary btn-info">
        New Update
        </a>
	</span>

	<span class="btn-group" role="group" style="margin-bottom:15px">
	<a href="/task" type="button" class = "btn btn-lg btn-secondary btn-info">
        New Task
        </a>

	</span>

        <span class="btn-group" role="group" style="margin-bottom:15px; padding-right:30px">
        <a href="/project" type="button" class = "btn btn-lg btn-secondary btn-info">
        New Project
        </a>

        </span>
{% endif %}
{% endif %} 
	<span class="btn-group" role="group" style="margin-bottom:15px">
	<button onclick="toggleunused()" style="width: 210px" id="togglebutton" type="button" class="btn btn-secondary btn-lg btn-warning">
	<font color="white">Show Obsolete Tasks</font>
	</button>
	</span>

</div>


{% if num_updates is not none %}

       <form class="pull-right" action="">
        <label class="" for="num_updates">No. of updates per task</label>
         <input class="" id="num_updates" name="num_updates" type="text" value="{{num_updates}}">
         <input type="submit" value="Update">
        </form>
{% else %}
        <form class="pull-right" action="">
            <label class="" for="since_time">Updates Since:</label>

            <input class="" id="since_time" name="since_time" type="date" value="{{since_time}}">
            <input type="submit" value="Update">
        </form>
{% endif %}


<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">

<div class="content">
  <div class="left">

    <div class="wrapper">
  <div class="container">
<table id="grid" style="font-size: 125%;" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
    {% for head in headers %}
    <th>{{head}}<div class="c1">{{head}}</div></th>
     {% endfor %}
  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for u in data %}

            {% set division=u[0] %}
            {% set project=u[1] %}
            {% set task=u[2] %}
            {% set update=u[3] %}
            {% if task is not none and (task.status == "Abandoned" or task.status == "Completed")%}
			<tr class="unused">
	    {% else %}
			<tr bgcolor="#FF0000">
 	    {% endif %}
		
                <td bgcolor="#54E8EA">
                        {% if division is not none %}
                        <a href = "/divisioninfo/{{division.id}}">{{division.name}}</a>
                        {% endif %}
                 </td>
                {% if project is not none %}
                    <td>
                        <a href="/projectinfo/{{project.id}}">{{project.name}}</a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if task is not none %}
                    <td>
			
                        <a href="/taskinfo/{{task.id}}">
                        <span data-toggle="tooltip" title='{{task.description}}' data-placement="top">{{task.name}}</span>
                        </a>
                    </td>
                    <td>
                    {% if task.user is not none %}
                        <a href= "/users/{{task.user.id}}">{{task.user.short_name()}}</a>
                    {% endif %}
                    </td>
                    <td>
			<a href="/projectcodes/{{task.pcode.id}}">
			 <span data-toggle="tooltip" title='{{task.pcode.name}}' data-placement="top">{{task.pcode.id}}</span></td>
                    	</a>
			<td> {{task.priority}} </td>
                    <td> {{task.status}} </td>

                {% else %}
                    <td></td><td></td><td></td><td></td>
                {% endif %}

                {% if update is not none %}
                    <td>{{update.progress}}</td>
                    <td> <a href="update/edit/{{update.id}}">

<span data-toggle="tooltip" title='{{update.comment}}' data-placement="top">{{update.update_text}}</span></a></td>

                    <td> {{update.entered_at.strftime('%Y-%m-%d')}}</td>
                    <td> <a href="/users/{{update.user_id}}">{{update.user.short_name()}}</a></td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td>
                      </td>
                {% endif %}
            </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}


{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

{% if meeting_mode == false %}
function toggleunused(){
        var x=document.getElementsByClassName("unused");
        for(var i=0; i<x.length;i++){
                if (x[i].style.display === 'none') {
                         x[i].style.display = 'table-row';
                } else {
                         x[i].style.display = 'none';
                }
         }
	var button=document.getElementById("togglebutton")
	if(button.textContent=="Show Obsolete Tasks"){
		button.textContent="Hide Obsolete Tasks";
	} else{
		button.textContent="Show Obsolete Tasks";
	}
}
window.onload=toggleunused;
{% endif %}
</script>
{% endblock %}

