{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}





{% block page_content %}

<div class="page-header">
    <h4>{{header}}</h4>
</div>

<body>






{{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 2, 6)) }}





</body>

{% endblock %}

