{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}





{% block page_content %}

<div class="page-header">
    <h4>Meeting View</h4>
</div>

<body>
  <div class="container">




{% for u in updates %}
      {{ u }}

{%endfor%}







</div>

</body>

{% endblock %}

