<!-- project info page
shows project name and what division project is in
buttons to add new task, edit the project, and show project description
table to show every task for this project and task details.
each task name has link to task info page
-->
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h2>Project Code # <b>{{pcode.id}}</b></h2>
    <h3>{{pcode.name}}</h3>
</div>

	
<br></br>
<form class="pull-right" action="">
            <label class="" for="since_time">Updates Since:</label>

            <input class="" id="since_time" name="since_time" type="date" value="{{since_time}}">
            <input type="submit" value="Update">
        </form>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">


<div class="content" style="font-size: 125%">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="grid" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
     {% for head in headers %}
     <th>{{head}}<div class="c1">{{head}}</div></th>
     {% endfor %}

  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for u in all_tasks %}
            {% set task=u[0] %}

            <tr>
                {% if task.name is not none %}
                        <td>
			<a href="/taskinfo/{{task.id}}">
			{{task.name}}
			</a>
			</td>
              {% else %}
                        <td></td>
                {% endif %}


                {% if task.description is not none %}
                        <td> {{task.description}}</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if task.user_id is not none%}
                        <td> {{u[1].short_name()}}</td>
		{% else %}
                        <td></td>
                {% endif %}


                {% if task.comment is not none %}
                        <td> {{task.comment}}</td>
                {% else %}
                        <td></td>
                {% endif %}


		{% if task.priority is not none %}
                        <td> {{task.priority}}</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if task.status is not none %}
                        <td> {{task.status}}</td>
                {% else %}
                        <td></td>
                {% endif %}

                {% if task.started_at is not none %}
                        <td> {{task.started_at}}</td>
                {% else %}
                        <td></td>
                {% endif %}

                {% if task.ended_at is not none%}
                        <td> {{task.ended_at}}</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if u[2] is not none %}
                        <td> {{u[2].name}}</td>
                {% else %}
                        <td></td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>

</table>
</div>





{% endblock %}




{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}


