
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}


<div class="page-header">
    <h2><b>Project Codes</b></h2>
</div>


<span class="btn-group" role="group" style="margin-bottom:20px;">
</span>
<span class="btn-group" role="group" style="margin-bottom:20px;">

<button onclick="toggleunused()" id="togglebutton" type="button" style="width: 370px" class="btn btn-secondary btn-lg btn-warning">
<font color="white">Show Unused and Obsolete Project Codes</font>
</button>
</span>

<br></br>


<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">


<div class="content" style="font-size: 125%">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="grid" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
     <th>Project Code #<div class="c1">Project Code #</div></th>
     <th>Description<div class="c1">Description</div></th>
     <th>Active Status<div class="c1">Active Status</div></th>
 
 <tr>

</thead>

 <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for pcode in all_codes %}
            {% if pcode.active %}
                  <tr>
            {% else %}
            <tr class="unused">
            {% endif %}
		<td>
                {% if pcode.id is not none %}
                        {{pcode.id}}
                {% endif %}
		</td>


		<td>
                {% if pcode.name is not none %}
			{{pcode.name}}
                {% endif %}
		</td>


                {% if pcode.active is not none %}
                <td>{{pcode.active}}</td>
                {% endif %}
                
            </tr>
        {% endfor %}
        </tbody>

</table>


</div>
{% endblock %}

{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function toggleunused(){
        var x=document.getElementsByClassName("unused");
        for(var i=0; i<x.length;i++){
                if (x[i].style.display === 'none') {
                         x[i].style.display = 'table-row';
                } else {
                         x[i].style.display = 'none';
        	}
	 }
	var button=document.getElementById("togglebutton")
	if(button.textContent=="Show Unused and Obsolete Project Codes"){
	   button.textContent="Hide Unused and Obsolete Project Codes";
	} else {
	   button.textContent="Show Unused and Obsolete Project Codes";
	}
}
window.onload=toggleunused;
</script>
{% endblock %}

