<!-- project info page
shows project name and what division project is in
buttons to add new task, edit the project, and show project description
table to show every task for this project and task details.
each task name has link to task info page
-->
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h2>Project <b>{{project.name}}</b></h2>
	<h3>Under 
		<a href="/divisioninfo/{{division.id}}">
		<b>{{division.name}}</b></a> Division</h3>
</div>

{% if level > 0 %}

<div class="btn-group" role="group" style="margin-bottom:12px">
	<a href="/task?next=%2Fprojectinfo%2F{{project.id}}&default_project={{project.id}}" type="button" class = "btn btn-secondary btn-lg  btn-info">
	Add Task
	</a>
	<a href="/project/edit/{{project.id}}?next=%2Fprojectinfo%2F{{project.id}}" type="button" class = "btn btn-info btn-lg">
	Edit
	</a>
</div>
{% endif %}
<div class="btn-group" role="group" style="margin-bottom:12px; padding-left: 3%;">
	<button type="button" class="btn btn-secondary dropdown-toggle btn-lg btn-primary" data-toggle="dropdown">
                <a href="" onclick="return false;"><font color="white">Description</font></a>
        </button>
         <ul class="dropdown-menu" style="font-size: 150%; width: 300px; height: 200px;" role="menu">
              <li>{{project.description}}</li>
         </ul>
</div>

<span class="btn-group" role="group" style="margin-bottom:12px; padding-left:45px">


         <button onclick="toggletables(0)" style="width: 170px" id="toggletaskbutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Tasks</font>
        </button>


        <button onclick="toggletables(1)" style="width: 170px" id="toggleupdatebutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Updates</font>
        </button>

        </span>



<span class="container" align="center">
<embed type="image/svg+xml" src={{bar_chart|safe}} style="max-width:500px;"/>

<embed type="image/svg+xml" src={{pie_chart|safe}} style="max-width:500px;"/>
</span>

	
<br></br>
<form class="pull-right" action="">
            <label class="" for="since_time">Updates Since:</label>

            <input class="" id="since_time" name="since_time" type="date" value="{{since_time}}">
            <input type="submit" value="Update">
        </form>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">





<div class="content" id="updatetable">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="updatetable2" style="font-size: 125%" class="table table-bordered table-hover table-sm sortable">
<thead>
<tr>
{% for uheader in update_headers %}
<th>{{uheader}}<div class="c1">{{uheader}}</div></th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for update in all_updates %}
 <tr>
                {% if update.update_text is not none %}
                        <td>
                                <a href="/update/edit/{{update.id}}?next=%2Ftaskinfo%2F{{update.task_id}}">
                                {{update.update_text}}</a>
                        </td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if update.comment is not none %}
                        <td> {{update.comment}}</td>
                {% else %}
                        <td></td>
                {% endif %}

                {% if update.progress is not none %}
                        <td> {{update.progress}}</td>
                {% else %}
                        <td></td>
                {% endif %}


                {% if update.entered_at is not none %}
                        <td> {{update.entered_at}}</td>
                {% else %}
                        <td></td>
                {% endif %}
	 </tr>
        {% endfor %}
</tbody>
</table></div></div></div></div>



<div class="content" id="tasktable" style="font-size: 125%">
  <div class="left">

    <div class="wrapper">
  <div class="container">

<table id="tasktable2" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
     {% for head in headers %}
     <th>{{head}}<div class="c1">{{head}}</div></th>
     {% endfor %}

  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for u in all_tasks %}
            {% set task=u[0] %}

            <tr>
                {% if task.name is not none %}<td><a href="/taskinfo/{{task.id}}">
			{{task.name}}</a></td>{% else %}<td></td>{% endif %}

                {% if task.description is not none %}<td>{{task.description}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.user_id is not none%}<td> {{u[1].short_name()}}</td>
		{% else %} <td></td> {% endif %}

                {% if task.comment is not none %}<td> {{task.comment}}</td>
                {% else %}<td></td>{% endif %}

		{% if task.priority is not none %}<td> {{task.priority}}</td>
                {% else %} <td></td>{% endif %}

                {% if task.status is not none %}<td> {{task.status}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.started_at is not none %}<td> {{task.started_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.ended_at is not none%}<td> {{task.ended_at}}</td>
                {% else %}<td></td>{% endif %}

                {% if task.pcode_id is not none %}<a href="/projectcodes/{{task.pcode_id}}">
		<td>{{task.pcode_id}}</td></a>
                {% else %}<td></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>





{% endblock %}




{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  istableup=document.getElementById("tasktable");
  if(istableup.style.display=='none'){
	table=document.getElementById("updatetable2");
  }
  else{
  	table = document.getElementById("tasktable2");
  }
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function toggletables(index){
        var tasktable=document.getElementById("tasktable");
        var updatetable=document.getElementById("updatetable");
        var tables=[tasktable,updatetable];
        for(i=0;i<tables.length;i++){
                tables[i].style.display='none';
        }
        tables[index].style.display = 'table';
}


window.onload=toggletables(0);

</script>
{% endblock %}


