<!-- task info page
shows task name, which project and division it belongs to
buttons to add new update and edit this task
table to show history of update and update details
each update name links to page to edit the update
-->
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    {% if task.parent_id is none %}  
    <h2>Task <b>{{task.name}}</b></h2>
    {% else %}
    <h2>Subtask <b>{{task.name}}</b></h2>
    {% endif %}
	{% if parent is not none %}
	<h3>Subtask of <b><a href="/taskinfo/{{parent.id}}">{{parent.name}}</a></b></h3>
	{% endif %}
	<h3> Part of Project <b><a href="/projectinfo/{{task.project_id}}">{{project.name}}</a></b> </h3>
	<h3>Under <a href="/divisioninfo/{{division.id}}">{{division.name}}</a> Division</h3>
</div>

<div class="btn-toolbar" role="toolbar" style="padding:0%; margin-bottom:20px">
{% if level > 0 %}
<div class="btn-group" role="group">
	<a href="/update?default_task={{task.id}}&next=%2Ftaskinfo%2F{{task.id}}" type="button" class = "btn btn-lg btn-secondary btn-info">
	Add Update
	</a>


	{% if task.parent_id is none %}
        <a href="/task?default_project={{task.project_id}}&parent_task={{task.id}}&next=%2Ftaskinfo%2F{{task.id}}" type="button" class = "btn btn-lg btn-secondary btn-info">
        Add Subtask
        </a>	
	{% endif %}



	<a href="/task/edit/{{task.id}}?next=%2Ftaskinfo%2F{{task.id}}" type="button" class = "btn btn-lg btn-secondary btn-info">
	Edit
	</a>
        <a href="/project" type="button" class="btn btn-lg btn-secondary btn-info">New Project</a>
</div>
{% endif %}
{% if subtasks is not none %}
       <span class="btn-group" role="group" style="padding-left:30px">
        <button onclick="togglesubtasks()" style="width: 170px" id="togglebutton" type="button" class="btn btn-secondary btn-lg btn-warning">
        <font color="white">Show Subtasks</font>
        </button>
        </span>
{% endif %}

<style>
td { 
    padding: 0px;
}
table { 
    border-spacing: 0px;
    border-collapse: separate;
}
</style>
<table class="btntable" style="width: auto; padding-left: 3%;" order="0" cellspacing="0" cellpadding="0">
<tbody>

{% for x in task_info %}
<td>
<div class="btn-group" style="padding-left: 2%; padding-right: 2%;">
        <button type="button" data-toggle="dropdown" class="btn btn-lg btn-primary button dropdown-toggle">{{x[0]}}</button>
        <ul class="dropdown-menu pull-bottom" style="font-size: 150%; width: 400px; height: 250px;">
            <li>{{x[1]}}</li>
        </ul></div>
</td>

{% endfor %}

</tbody>
</table>
</div>

{% if subtasks is not none %}
<table id="subtasktable" style="font-size: 125%" class="table table-bordered">
<tbody>
{% for subt in subtasks %}
<td>
<div class="btn-group" style="padding-left: 2%; padding-right: 2%;">
        <a href="/taskinfo/{{subt.id}}" type="button" class="btn btn-lg btn-secondary btn-success">{{subt.name}}</a>
        </div>
</td>
{% endfor %}
</tbody>
</table>
{% endif %}

<form class="pull-right" action="">
            <label class="" for="since_time">Updates Since:</label>

            <input class="" id="since_time" name="since_time" type="date" value="{{since_time}}">
            <input type="submit" value="Update">
        </form>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">



<script language="javascript" type="text/javascript">
var url=document.URL; 
</script>



<table id="grid" style="font-size: 125%" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
    {% for head in headers %}
    <th>{{head}}</th>
     {% endfor %}
  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for u in all_updates %}
	    {% set update=u[0] %}

            <tr>
                {% if update.update_text is not none %}
                	<td>
				<a href="/update/edit/{{update.id}}?next=%2Ftaskinfo%2F{{task.id}}">
				{{update.update_text}}</a>
			</td>
                {% else %}
                	<td></td>
		{% endif %}


		{% if update.comment is not none %}
                	<td> {{update.comment}}</td>
		{% else %}
			<td></td>
		{% endif %}


		{% if update.user_id is not none%}
			<td> {{u[1].short_name()}}</td>
                {% else %}
                        <td></td>
                {% endif %}



		{% if update.entered_at is not none %}
			<td> {{update.entered_at}}</td>
                {% else %}
                        <td></td>
                {% endif %}
	    </tr>
        {% endfor %}
        </tbody>

</table>
</div>
{% endblock %}

{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function togglesubtasks(){
        var subttable=document.getElementById("subtasktable");
                if (subttable.style.display === 'none') {
                         subttable.style.display = 'table';
                } else {
                         subttable.style.display = 'none';
                }
        var button=document.getElementById("togglebutton")
        if(button.textContent=="Show Subtasks"){
                button.textContent="Hide Subtasks";
        } else{
                button.textContent="Show Subtasks";
        }
}
window.onload=togglesubtasks;

</script>
{% endblock %}

