{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% block page_content %}
<div class="content">
  <div class="left">

    <div class="wrapper">
  <div class="container">
<table id="grid" style="font-size: 125%;" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
<th>head1<div class="c1">head1</div></th>
 <th>head2<div class="c1">head2</div></th>
<th>date<div class="c1">date</div></th>
 

</tr>

</thead>
        <tbody>
<tr>
<td>M</td><td>M</td>
<td>2017-1-1</td>
</tr>

<tr>
<td>M</td><td>M</td>
<td>2017-1-23</td>
</tr>

<tr>
<td>M</td><td>M</td>
<td>2018-3-13</td>
</tr>

<tr>
<td>M</td><td>M</td>
<td>2017-3-10</td>
</tr>

<tr>
<td>M</td><td>M</td>
<td>2017-3-20</td>
</tr>
<tr>
<td>M</td><td>M</td>
<td></td>
</tr>
</tbody>
</table>
{% endblock %}
