<!-- user info page
shows info for a user
and update history in chronological order
-->

{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h2>User History for <b>{{user.short_name()}}</b></h2>
        <h3><b><a href="/users">All Users</a></b></h3>
</div>
{% if level > 0 %}

<div class="btn-group" role="group" style="margin-bottom:12px">
        <a href="/user/edit/{{user.id}}?next=%2Fusers%2F{{user.id}}" type="button" class = "btn btn-secondary btn-lg  btn-info">
        Edit User
        </a>
</div>

{% endif %}

<br></br>

        <form class="pull-right" action="">
            <label class="" for="since_time">Updates Since:</label>

            <input class="" id="since_time" name="since_time" type="date" value="{{since_time}}">
            <input type="submit" value="Update">
        </form>
<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">


<div class="content" style="font-size: 125%">
  <div class="left">
    <div class="wrapper">
  <div class="container">
<table id="grid" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
 
   {% for head in headers %}
    <th>{{head}}<div class="c1">{{head}}</div></th>
   {% endfor %}

  </tr>

</thead>
        <tbody>
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for u in user_history %}
            <tr>
                {% if u[0].entered_at is not none %}
                        <td>
                                {{u[0].entered_at}}
                        </td>
                {% else %}
                        <td></td>
                {% endif %}

		<td><a href="/divisioninfo/{{u[3].id}}">{{u[3].name}}</a></td>
		<td><a href="/projectinfo/{{u[2].id}}">{{u[2].name}}</a></td>
		<td><a href="/taskinfo/{{u[1].id}}">{{u[1].name}}</a></td>
		<td><a href="/update/edit/{{u[0].id}}">{{u[0].update_text}}</td>
		<td>{{u[0].comment}}</td>
            </tr>
        {% endfor %}
        </tbody>

</table>
</div>





{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}

{% endblock %}

