<!-- page shows infromation for all users
lists username, registeration date, level, and last update information
each username links to the userinfo page for that user
-->
{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h2><b>All Users</b></h2>
</div>
<div class="btn-group" role="group" style="margin-bottom:12px">
        <a href="/users/add" type="button" class = "btn btn-secondary btn-lg  btn-info">
        Add User
        </a>
</div>
<br></br>

<input type="text" id="filter" onkeyup="Filter()" placeholder="Filter data...">

<div class="content" style="font-size: 125%">
  <div class="left">
    <div class="wrapper">
  <div class="container">
<table id="grid" class="table table-bordered table-hover table-sm sortable">
<thead>
  <tr>
     <th>Id<div class="c1">Id</div></th>
     <th>Username<div class="c1">Username</div></th>
     <th>App Name<div class="c1">App Name</div></th>
     <th>Privelege Level<div class="c1">Privelege Level</div></th>
     <th>Registered On<div class="c1">Registered On</div></th>
      <th>Active<div class="c1">Active</div></th>
  </tr>

</thead>
        <tbody>
	{% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for user in all_users %}
	<tr>
		<td><a href="/users/edit/{{user.id}}">{{user.id}}</a></td>
		<td>{{user.username}}</td>
		<td>{{user.app_name}}</td>
		<td> {{user.privelege_level}}</td>
		<td> {{user.registered_on}}</td>
                <td>
               {{user.active}}
               </td>
	</tr>
        {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
   {{ super() }}
<script>
function Filter() {
  // for filtering data table
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("grid");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td_data = tr[i].getElementsByTagName("td");
    var td = "";
    for (j = 0; j < td_data.length; j++) {
        td += " "
        td += td_data[j].innerHTML.toUpperCase();
    }

    console.log( td );

    if (td) {
      if (td.indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
