{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}





{% block page_content %}

<div class="page-header">
    <h4>Grid View</h4>
</div>




<table class="table table-bordered table-hover table-sm">
<thead>
  <tr>
    <th>Division</th>
    <th>Project</th>
    <th>Task</th>
    <th>Latest Update <form class="pull-right" action="/view">
                                    <label class="" for="num_updates">No. Updates</label>

                                    <input class="" id="num_updates" name="num_updates" type="text" value="{{num_updates}}">

                              </form>
    </th>

  </tr>

</thead>
        
        {% set colors = ['active', 'success', 'danger', 'warning', 'info'] %}

        {% for division in data %}
          {% set color=colors[loop.index] %}
          <tr class='{{colors[(loop.index-1)%(colors|length)]}}'>
          <td> {{division.name}} </td>
               {% for project in division.projects.all() %}
                  {% if loop.index == 1 %}
              <td> <a href="project/edit/{{project.id}}">{{project.name}}</a>   <form action="project"> <input hidden type="text" name="default_division" value="{{division.id}}" />
                        <a href="#" class="pull-right" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Project' data-placement="right">+ </a>
                        </form>  </td>
                  {% else %}
                    <td></td><td> <a href="project/edit/{{project.id}}">{{project.name}}</a> </td>
                  {% endif %}
                        {% for task in project.tasks %}
                          {% if loop.index == 1 %}
                             <td> <a href="task/edit/{{task.id}}">{{task.name}}</a> <form action="task"> <input hidden type="text" name="default_project" value="{{project.id}}" />
                                            <a href="#" class="pull-right" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Task to Project' data-placement="right">+ </a>
                                            </form>
                             </td>
                          {% else %}
                             <tr><td></td><td></td><td> <a href="task/edit/{{task.id}}">{{task.name}}</a> </td>
                          {% endif %}
                             <td>
                             {% for update in task.updates|sort(attribute='entered_at', reverse=True) %}
                                 {% if loop.index < num_updates+1 %}
                                    <div><a href="update/edit/{{update.id}}">{{update.update_text}} - {{update.entered_at}} by {{update.user.email}}</a></div>
                                 {% else %}
                                  
                                 {% endif %}
                             {% endfor %}
                              <form action="update"> <input hidden type="text" name="default_task" value="{{task.id}}" />
                              <a href="#" class="pull-right" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Update' data-placement="right" >+ </a>
                              </form> </td>
                              </tr>
                                         
                        {% else %}
                          <td colspan="2"><form action="task"> <input hidden type="text" name="default_project" value="{{project.id}}" />
                        <a href="#" class="pull-left" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Task' data-placement="right">+ </a>
                        </form></td> </tr>
                        {% endfor %}
                  
               {% else %}
                    <td colspan="3"> <form action="project"> <input hidden type="text" name="default_division" value="{{division.id}}" />
                        <a href="#" class="pull-left" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Project' data-placement="right">+ </a>
                        </form></td>  </tr>
               {% endfor %}
        
        {% endfor %}
        <tr class='{{color}}'><td colspan = "4"><form action="division"> 
                        <a href="#" class="pull-left" onclick="$(this).closest('form').submit()" data-toggle="tooltip" title='Add Division' data-placement="right">+ </a>
                        </form></td></tr>
</table>







{% endblock %}

